@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0 2%;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
}

li {
  list-style: none;
}

.text-main {
  color: white;
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: -1;
}

.my-video {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(75%);
}

aside {
  margin-top: 320px;
  max-width: 850px;
  text-align: center;
}

h1 {
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
}

h2 {
  font-size: 30px;
  color: white;
  margin-top: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.link-index:hover {
  color: grey;
  transition: 0.7s;
}
.link-index {
  line-height: 120px;
  font-size: 23px;
  color: white;
  background-color: #92cf86;
  padding: 14px;
  max-width: 850px;
  font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  border-radius: 30px;
  font-weight: bold;
}

.logo {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
  }
  main {
    overflow-x: hidden;
  }
  h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    line-height: 40px;
  }

  h2 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
  }

  header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  .link-index {
    line-height: 120px;
    font-size: 20px;
    font-style: bold;
    color: white;
    background-color: #92cf86;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    font-family: Arial;
    border-radius: 30px;
  }
  aside {
    margin-top: 180px;
  }
}
