* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0 2%;
  max-width: 1280px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.text-main {
  color: white;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/image/ambiente1.jpg);
  z-index: -1;
}

aside {
  margin-top: 300px;
  max-width: 850px;
  text-align: left;
}

h1 {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

h2 {
  font-size: 30px;
  color: white;
  margin-top: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.img-index img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-top: 350px;
  margin-left: 1280px;
}

.link-index:hover {
  color: grey;
  transition: 0.7s;
}
.link-index {
  line-height: 120px;
  font-size: 23px;
  color: white;
  background-color: #92cf86;
  padding: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30px;
}

.logo {
  width: 50%;
}

@media (max-width: 905px) {
  aside {
    margin-top: 200px;
  }
}

@media (max-width: 600px) {
  .img-index {
    display: none;
  }
  .container {
    text-align: center;
  }
  main {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
  }

  h2 {
    font-size: 23px;
    color: white;
    margin-top: 20px;
  }

  header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    text-align: center;
  }
  .link-index {
    line-height: 120px;
    font-size: 18px;
    font-style: bold;
    color: white;
    background-color: #92cf86;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px;
  }
}
