* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

html,
body {
  background: #fafafa;
  height: 100%;
}

.site-heading {
  background: url("../image/ambiente2 - teste.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}

.masthead h1 {
  text-align: center;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 75px;
  font-style: normal;
  padding-top: 175px;
}

.masthead {
  color: white;
  text-align: center;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  color: #fafafa;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}

.logo {
  width: 50%;
}

main {
  margin-top: 30px;
  padding-left: 10%;
  padding-right: 8%;
}

.main-text h1 span {
  color: #92cf86;
  font-style: bold;
}

.main-text h2 {
  color: #92cf86;
  font-style: bold;
}

.main-text p {
  margin-left: 2%;
  margin-right: 10%;
  line-height: 25px;
  color: #121213;
}

.main-text hr {
  height: 2px;
  border: 0px;
  background-color: #92cf86;
  text-align: center;
}

.main-text li {
  list-style: square;
  padding-top: 15px;
  color: #92cf86;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  object-fit: cover;
}

.img-container p {
  line-height: 20px;
  margin-right: 0;
}

.main-text-about {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

#container-a img {
  width: 415px;
  height: 225px;
  border: 4px solid #92cf86;
}

#container-a {
  text-align: center;
  font-style: italic;
  margin-right: 90px;
}

#container-b img {
  width: 415px;
  height: 225px;
  border: 4px solid #92cf86;
}

#container-b {
  text-align: center;
  font-style: italic;
}

#foto-participantes-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto-participantes-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.img-participantes img {
  width: 130px;
  height: 130px;
  border: 3px solid #759c6d;
  border-radius: 50%;
}

#foto-participante-1 {
  object-fit: cover;
  margin-right: 20px;
}

.img-participantes p {
  line-height: 20px;
  font-size: 12px;
  font-style: italic;
  color: #121213;
  text-align: center;
}

.content-box h2 {
  color: #4b9b63;
  font-style: bold;
  font-size: 20px;
}

.ods15-subtitle {
  color: #4b9b63;
  font-style: bold;
}

.content-box .content-box-item span {
  color: #4b9b63;
}

.content-box span {
  font-size: 28px;
  background-color: #ebd2a999;
  border-radius: 5%;
  padding: 5px;
  border-radius: 8px 8px;
  margin-right: 20px;
}

.gestao-empresarial {
  color: #92cf86;
  font-size: 20px;
  font-weight: bold;
}

.text-difusa h1 {
  margin-top: 30px;
}

.content-box {
  display: inline-block;
  width: 10%;
  min-width: 25vw;
  min-height: 10vw;
  background-color: #f1e8da99;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 25px;
  padding: 15px;
  margin-right: 20px;
}

#first-content-box {
  margin-left: 2%;
}

.content-box p {
  padding-top: 10px;
}

.img-content-box img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.img-content-box {
  text-align: center;
  padding-top: 15px;
}

footer {
  background-color: #92cf86;
  color: #fff;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}

.news-text {
  color: #92cf86;
  font-style: bold;
  font-size: 40px;
}

.codigos-leis-subtitle {
  color: black;
  font-size: 20px;
  font-weight: 800;
}

.referencias a {
  color: black;
}

.referencias a:hover {
  color: #0085a1;
}

.referencias p {
  font-size: 18px;
}

.referencias hr {
  height: 2px;
  border: 0px;
  background-color: #cccaca;
  text-align: center;
}

.text-spacer {
  height: 2px;
  border: 0px;
  background-color: #cccaca;
  text-align: center;
}

.post-preview {
  max-width: 1200px;
}

.post-preview > a {
  color: #121213;
}

.post-preview > a:focus,
.post-preview > a:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 40px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #6e6f70;
  margin-left: 0;
  font-family: "Lora", "Times New Roman", serif;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #121213;
  font-style: normal;
}

.post-preview > .post-meta > a:focus,
.post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085a1;
}

@media screen and (max-width: 1540px) {
  .img-container {
    margin-left: 30px;
  }
  .content-box {
    display: grid;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #first-content-box {
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .img-content-box img {
    width: 130px;
    height: 130px;
  }
  .content-box h2 {
    line-height: 30px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
  }
  .site-heading {
    height: 200px;
  }
  .masthead h1 {
    padding-top: 120px;
    font-size: 45px;
  }
  #foto-participantes-1 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .img-participantes img {
    width: 100px;
    height: 100px;
  }
  #foto-participantes-2 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  #foto-participante-1 {
    margin-top: 10px;
  }
  .img-container {
    display: grid;
  }
  #container-a img {
    width: 350px;
    height: 200px;
    border: 4px solid #92cf86;
  }
  #container-b img {
    width: 350px;
    height: 200px;
    border: 4px solid #92cf86;
  }
  #container-b {
    margin-right: 60px;
  }
  .img-container {
    margin-left: 30px;
  }
  .content-box {
    display: grid;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #first-content-box {
    margin-top: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .img-content-box img {
    width: 130px;
    height: 130px;
  }
  .content-box h2 {
    line-height: 30px;
    font-size: 20px;
  }
}
