* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

html,
body {
  background: #f7f4f4;
  height: 100%;
}

.site-heading {
  background: url("../image/ambiente2 - teste.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
}

.masthead h1 {
  text-align: center;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 75px;
  font-style: normal;
  padding-top: 175px;
}

.masthead {
  color: #f0ffff;
  text-align: center;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}

.logo {
  width: 50%;
}

.sub-text {
  margin-top: 30px;
  padding-left: 10%;
  display: block;
  width: 90%;
  text-align: justify;
  align-content: center;
}

.sub-text-disc {
  margin-top: 10px;
  display: block;
  width: 90%;
  text-align: justify;
}

main {
  margin-top: 30px;
  padding-left: 10%;
}

.main-text h3 {
  line-height: 20px;
  padding-top: 10px;
  text-align: justify;
}

h2 span {
  color: #92cf86;
  font-style: bold;
}

.main-text h1 span {
  color: #92cf86;
  font-style: bold;
}

.main-text p {
  margin-left: 2%;
  margin-right: 10%;
  line-height: 30px;
  color: #121213;
}
.main-text h2 {
  line-height: 25px;
  padding-top: 10px;
  text-align: justify;
}

.main-text hr {
  height: 1px;
  border: 0px;
  background-color: grey;
  text-align: center;
}

.main-text li {
  list-style: square;
  padding-top: 15px;
  color: #92cf86;
}

.main-text li span {
  color: black;
  list-style: square;
  padding-top: 15px;
}

.img-pontual img {
  width: 500px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 5px;
  border: 4px solid #92cf86;
}

.img-pontual {
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
  font-style: italic;
  padding-right: 10%;
}

.img-pontual p {
  padding-right: 2%;
}

footer {
  background-color: #92cf86;
  color: #fff;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}
